@using Shared;

@model TypeCustomerModel


<body>

     <div class="container">
        <form asp-action="postCustomerType" asp-asp-controller="Customer" method="post">
      
            <div class="form-group col-md-6">
                
                <label>Descripción</label> 
                <input hidden type="number" asp-for="Id" class="form-control" />
                <input type="text" asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" style="color:red;"></span>

            </div>
            <br />
            <div class="form-group col-md-6"> <button type="submit" onsubmit="">Guardar</button></div>

        </form>
    </div>
    
</body>

<style>
    .myDiv {
        border: 2px outset black;
        background-color: darkblue;
        color: white;
        text-align: center;
    }
</style>