@using Shared;



<body>
 
    <div class="myDiv"> <h3>Agregar Tipo Cliente</h3></div>
        <partial name="~/Views/Customer/_FormCustomerType.cshtml">
    
    </body>

<style>
    .myDiv {
        border: 2px outset black;
        background-color: darkblue;
        color: white;
        text-align: center;
    }
</style>